// Search Bar Global Variables
$search-bar-width: 223px;
$search-bar-padding: 5px;
$search-bar-border: 1px solid black;
$search-bar-base-color: white;
$search-bar-hover-color: black;
$search-bar-base-bg: black;
$search-bar-hover-bg: white;
$search-bar-hover-transition: 0.1s ease-in;
$search-bar-top-pos: 27px;
