@import '../../../assets/style/variables.scss';
.side-drawer {
  height: 100%;
  background: $base-drawer-bg;
  box-shadow: $base-box-shadow;
  position: fixed;
  top: $base_margintop;
  left: 0;
  width: $base-drawer-width;
  max-width: $base-drawer-max-width;
  z-index: 200;
  transform: $base-drawer-out;
  transition: $base-drawer-transform;

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  li {
    margin: $base-link-margin;
  }
  a {
    color: $base-drawer-link-color;
    text-decoration: none;
    font-size: 1.2rem;
    &:hover,
    &:active {
      color: $base-drawer-link-hover-color;
    }
  }
}
.side-drawer.open {
  transform: $base-drawer-in;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
