@import '../../../assets/style/variables.scss';
.toolbar {
  width: 100%;
  position: fixed;
  background: $base-bg;
  height: $base-navbar-height;
  top: 0;
  left: 0;

  .toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;

    .toolbar_logo {
      margin-left: 1rem;
      a {
        color: $base-link-color;
        text-decoration: none;
        font-size: $base-logo-size;
      }
    }

    .spacer {
      flex: 1;
    }

    .toolbar_navigation-items {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        padding: 0 0.5rem;
      }
      a {
        color: $base-link-color;
        text-decoration: none;
        &:hover,
        &:active {
          color: $base-link-hover-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}
@media (min-width: 769px) {
  .toolbar_toggle-button {
    display: none;
  }
  .toolbar_logo {
    margin-left: 0;
  }
}
